[submodule "pack/plugins/start/vim-syntax-shakespeare"]
	path = pack/plugins/start/vim-syntax-shakespeare
	url = git@github.com:pbrisbin/vim-syntax-shakespeare.git
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
